*{
    margin:0;
    padding:0;
}
body{
    overflow:hidden;
}
.sky{
    height:100vh;
    width: 100%;
    background-image: url(background.jpg);
    position: absolute;

}
.trees{
    height: 100vh;
    width: 100%;
    background-image: url(trees.png);
    background-size:cover;
    position: absolute;
    top:-144px;
}
.track{
    
    height: 80vh;
    width: 9000%;
    background-image: url(track.png);
   
    background-repeat:repeat-x;
    position:absolute;
    top:70vh;
    animation:carMove linear 5s infinite;
}
.car{
    height: 100px;
    width:400px;
    background-image: url(car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
    left:90px;
    bottom:173px;
    animation:shake linear .6s infinite;
}

.wheel1 img{
    width:77px;
    position:relative;
    top:40px;
    left:42px;
    bottom:20px;
    animation:wheelRotation linear .6s infinite;

}
.wheel2 img{
    width: 77px;
    position:relative;
    top:-38px;
    left:250px;
    bottom:2px;
    animation:wheelRotation linear .6s infinite;
}
@keyframes wheelRotation
{
    100%{
        transform:rotate(360deg);
    }

}

@keyframes carMove
{
    100%{
        transform:translatex(-500vw);
    }

}
@keyframes shake
{
    0%{
        transform:translatex(-5px);
    }
    50%{
        transform:translatex(5px);
    }
    100%{
        transform:translatex(-5px);
    }
}










    











