*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height:60px;
    background-color: #0f1111;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 60px;
    width:100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size:cover;
    height:50px;
    width:100px;

}
.border{
    border:1.5px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}
.add-first{
    color:#cccccc;
    font-size:0.85rem;
    margin-left: 15px;;

}
.add-second{
    font-size:1rem;
    margin-left:30px
}
.add-address{
    display:flex;
    align-items:centre;
}
.nav-search{
    display:flex;
    justify-content: space-evenly;
    background-color:pink;
    width:620px;
    height:40px;
    border-radius:4px ;
}
.search-select{
    width:50px;
    background-color:#f3f3f3;
    text-align:centre;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border:none;
}
.search-input{
    width:500px;
    font-size:1rem;
    border:none;
}
.search-icon{
    width:45px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color:#febd6a;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px
}
.nav-search:hover{
    border:2px solid orange;

}
span{
    font-size: 0.7;
}
.nav-second{
    font-size:0.85rem;
    font-weight:700;
}
.nav-cart i{
    font-size :30px;

}
.nav-cat{
    font-size:0.85rem;
    font-weight:700
}

.panel{
    height:40px;
    background-color: #222f3d;
    display:flex;
    color: white;
    align-items:centre;
    justify-content: space-evenly;
    margin-top:1px;

}

.panel-all i{
  margin-left:0.003%;
     
}
.search-select{
    margin-left:10px;
}
.panel-ops b{
    
    
    align-items:centre;
    display:inline;
     margin-left: 15px;

justify-content:space-evenly;
}
.b{
    display:flex;
    margin-left:18px;
    justify-content:space-evenly;
}
.panel-ops{
    width:70px;
    font-size:0.85rem;
}
.panel-deal{
    font-size:0.85;
    margin-right: 0%;
    font-weight:800 
}
.hero-section{
    background-image: url("hero_image.jpg");
    background-size:cover ;
    height:350px;
    display:flex;
    justify-content:centre;
    align-items:flex-end;
    
}
.shop-sec{
    display:flex;
    flex-wrap:wrap;
    height:1200px;
    justify-content: space-evenly;
    background-color:#e2e7e6;
    
}
.box{
    
    height:500px;
    width:23%;
    background-color: white;
    margin-top:15px;
}


.hero-massage{
    background-color: white;
    color:black;
    height:15px;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    font-size:0.85rem;
    width:80%;
    margin-bottom:25px;
}
.hero-massage a{
    color:#007185;
}

.box-image{
    height:300px;
    padding:15px;
    background-size:cover;
    margin-top:1rem;
    margin-bottom:1rem;
}
.box-content{
    margin-left:15px;
    margin-right:15px;

}
.foot-panel1{
    background-color:#37475a;
    color:white;
    height:30px;
    width:100%;
    display:flex;
    justify-content:centre ;
    align-items:centre;
    font-size:0.85rem;
    
}
.foot-panel1 p{
    display:flex;
    align-items: center;
}
.foot-panel2{
    height:500px;
    background-color: #222f3d;
    color:white;
    display:flex;
    justify-content: space-evenly;

}
ul a{
    display:block;
    font-size:0.8;
    margin-top: 10px;
    color:#dddddd;

}



    
